
.jobs-wrap .job-item {
    display: block;
    border-bottom: 1px solid #ced4da !important;
    color: rgba(0, 0, 0, 0.5);
    background: #fff;
    position: relative;
    z-index: 1;
  }
  
  .jobs-wrap .job-item:hover {
    background: #fff;
    /*-webkit-box-shadow: 6px 0 40px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 6px 0 40px 0 rgba(0, 0, 0, 0.1);*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(68, 27, 27, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(68, 27, 27, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(68, 27, 27, 0.75);
    z-index: 200;
  }
  
  .jobs-wrap .job-item.last {
    border-bottom: none !important;
  }
  
  .jobs-wrap .job-item.fulltime {
    border-left: 3px solid #26baee;
  }
  
  .jobs-wrap .job-item.freelance {
    border-left: 3px solid #f8b500;
  }
  
  .jobs-wrap .job-item.partime {
    border-left: 3px solid #f23a2e;
  }
  
  .jobs-wrap .job-item .company-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }
  
  .jobs-wrap .job-item .company-logo svg {
    max-width: 50px;
    border-radius: 4px;
    font-size: 40px;
    margin-bottom: 0px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
  
  .jobs-wrap .job-item h3 {
    font-size: 17px;
  }
  
  .jobs-wrap .job-item .job-details {
    width: calc(100% - 250px);
  }
  
  @media (max-width: 1199.98px) {
    .jobs-wrap .job-item .job-details {
      width: 100%;
      text-align: center;
    }
  }
  
  .jobs-wrap .job-item .job-category {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    text-align: center;
  }

  .jobs-wrap a:hover {
      text-decoration: none;
  }